---
import Layout from "../layouts/Layout.astro";
import ContentSection from "../components/ContentSection.astro";
const profilePic = "/blog/blog-profile-pic.jpg";
---

<Layout title="about">
  <h1
    class="bg-gradient-to-r from-indigo-600 to-pink-500 py-3 text-center text-2xl font-bold text-white"
  >
    about me.
  </h1>

  <ContentSection class="flex-col items-center sm:flex-row pb-8">
    <div class="flex items-center justify-center gap-6">
      <img
        class="w-24 rounded-full"
        src={profilePic}
        alt="github profile picture"
      />
      <div class="">
        <p class="text-xl font-bold">dan s.</p>
        <p class="text-sm italic">Software Developer</p>
        <p class="text-xs">part-time ice cream enthusiast.</p>
      </div>
    </div>

    <div class="flex flex-col gap-4 px-2 text-sm font-light leading-tight flex-1">
      <p
        class="inline-block bg-gradient-to-r from-indigo-600 to-pink-500 bg-clip-text px-1 text-lg font-bold text-transparent"
      >
        Hello there!
      </p>
      <p class="">
        I'm Dan, a software developer with a penchant for turning lines of code
        into meaningful solutions.
      </p>
      <p class="">
        This blog is my digital playground where I can showcase my latest
        projects, share my insights, and discuss the fascinating world of
        software development. It's a space where I document my ideas, findings,
        and the occasional "Eureka!" moment that keeps me up at night - and yes,
        occasionally, I ponder which kind of bagel is quantitatively the best!
      </p>
      <p>
        I'm not just here to talk, though; I'm also here to listen. Open to new
        opportunities and collaborations, I welcome you to join me on this
        coding journey. Let's connect, create, innovate, and maybe even discuss
        the science of bagels!
      </p>
    </div>
  </ContentSection>
</Layout>
