---
import Layout from "../layouts/Layout.astro";
import ContentSection from "../components/ContentSection.astro";
import PostPreview from "../components/PostPreview.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
dayjs.extend(utc);
const posts = await Astro.glob("../pages/posts/*.md");
const publishedPosts = await posts.filter((post) => post.frontmatter.publish);
const profilePic = "/blog/blog-profile-pic.jpg";
---

<Layout title="home">
  <h1
    class="bg-gradient-to-r from-indigo-600 to-pink-500 py-3 text-center text-2xl font-bold text-white"
  >
    hi all.
  </h1>
  <div class="mx-auto flex w-full flex-col justify-center gap-4">
    <ContentSection class="mx-auto self-start">
      <img
        class="w-20 self-center rounded-full"
        src={profilePic}
        alt="github profile picture"
      />
      <p class="self-center text-lg leading-tight">
        I write about mostly about programming.
      </p>
    </ContentSection>
    <section class="mx-auto flex max-w-4xl flex-1 flex-col gap-2">
      <div class="flex flex-col-reverse gap-3">
        {
          publishedPosts.map((post) => (
            <PostPreview
              title={post.frontmatter.title}
              url={post.url}
              description={post.frontmatter.description}
              pubDate={dayjs(post.frontmatter.pubDate)
                .utc()
                .format("MMM DD, YYYY")}
            />
          ))
        }
      </div>
    </section>
  </div>
</Layout>

<style></style>
