---
import Layout from '../layouts/Layout.astro';
import PostPreview from '../components/PostPreview.astro'
const posts = await Astro.glob('../pages/posts/*.md')
---

<Layout title="blog one: HOME">
	<section class="mx-auto">
		<p class="text-xs"><sup class="text-sm">*</sup>not big enough to be a super blog... yet.</p>
	</section>
	<h1 class="text-base">recent posts</h1>
	<section class="flex flex-col gap-3">
		{posts.map((post) => <PostPreview title={post.frontmatter.title} url={post.url} description={post.frontmatter.description}></PostPreview>)}
	</section>
</Layout>

<style>

</style>
