---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
const posts = await getCollection("posts");
const publishedPosts = posts.filter((post) => post.data.publish);
---

<Layout title="posts">
  <h1 class="text-lg">Archive</h1>
  <section class="flex flex-col">
    {publishedPosts.map((post) => <a href={post.slug}>{post.data.title}</a>)}
  </section>
</Layout>
