---
---

<footer class="flex gap-6 justify-center bg-stone-800 text-neutral-200 h-20">
    <section class="my-auto">
        <p>i can also be found here:</p>
    </section>
    <section class="flex items-center gap-4">
    <img class="w-10" src="github-white.png"/>
    <img class="w-10" src="li-bug.png"/>
</section>
</footer>