---
---

<footer class="flex gap-6 justify-center bg-stone-800 text-neutral-200 h-20">
    <section class="my-auto">
        <p class="text-sm text-sky-200">i can also be found here:</p>
    </section>
    <section class="flex items-center gap-4">
    <a href="https://github.com/superwizardclass"><img class="w-10" src="/github-white.png"/></a>
    <a href="https://www.linkedin.com/in/dan3000"><img class="w-10" src="/li-bug.png"/></a>
</section>
</footer>