---
---

<header class="flex flex-col bg-banner-bg bg-cover bg-no-repeat bg-center bg-opacity-90 text-neutral-200 pt-16 h-56">
    <div class="text-center">
        <h1 class="text-4xl font-bold pb-4">blog one</h1>
        <h2 class="text-sm bg-stone-900 bg-opacity-40">the smallest <span class="text-xs">micro blog</span><sup>*</sup></h2>
    </div>
    <nav class="mt-auto flex gap-4 justify-center  text-neutral-200 bg-black bg-opacity-30">
        <a href="/">home</a>
        <a href="/posts">posts</a>
        <a href="about">whoami?</a>
    </nav>
</header> 