---
import dayjs from "dayjs";
const { title, url, description, pubDate } = Astro.props;
---

<article class="flex flex-col gap-2 shadow-lg">
  <div
    class="flex flex-col items-center gap-2 bg-gradient-to-r from-cyan-600 to-blue-500 px-6 py-3 sm:flex-row sm:justify-center"
  >
    <h1 class="text-center font-bold text-white lg:text-lg">{title}</h1>
    <p class="font-medium text-stone-800">{pubDate}</p>
  </div>

  <div class="flex flex-col gap-2 px-6 py-2 text-stone-800">
    <p class="text-sm italic">{description}</p>
    <a class="self-end text-lg font-bold hover:text-indigo-500" href={url}
      >read post.</a
    >
  </div>
</article>
