---
import Header from '../components/Header.astro';
import Main from '../components/Main.astro';
import Footer from '../components/Footer.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
const favicon = '/blog/favicon.ico'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico" href={favicon} />
		<meta name="generator" content={Astro.generator} />
		<title>blog one: {title}</title>
	</head>
	<body class="bg-neutral-900">
		<div class="max-w-2xl flex flex-col min-h-screen mx-auto bg-neutral-50">
			<Header></Header>
			<Main>
				<slot/>
			</Main>
			<Footer></Footer>
		</div>

	</body>
</html>
<style is:global>

</style>
