---
import Layout from "./Layout.astro";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
dayjs.extend(utc);
const { frontmatter } = Astro.props;
const formattedPubDate = dayjs(frontmatter.pubDate).utc().format('MMM DD, YYYY')
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <h2>Published on {formattedPubDate}</h2>
  <p>Written by {frontmatter.author}</p>
  <slot />
</Layout>
