---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <h2>Published on {frontmatter.pubDate}</h2>
  <p>Written by {frontmatter.author}</p>
  <slot />
</Layout>
